.form-control::-webkit-input-placeholder { 
    color: black !important;
    font-size: 18px;
    padding-left: 7px;
    }
    #form_message::-webkit-input-placeholder { 
        color: black !important;
        font-size: 18px;
        padding-left: 7px;
        }
        
*
{
  margin: 0;
  padding: 0;
}
body
{
  box-sizing: border-box;
  width: 100%;
  height:100vh;
  font-family: 'Roboto Condensed', sans-serif;
}
.contact-us-bg 
{
    background: url(../images/contacus.jpg);
    background-position: center;
    background-size: cover;
    height:300px;
    width: 100%;
    background-repeat: no-repeat;
}
.contact-section1
{
    margin-left: 0px;
    margin-right: 0px;
}
.common-allpage-header
{
    text-transform: uppercase;
    color: #e2885d;
    letter-spacing: 10px;
    text-align: center;
    font-size: 55.61px;
    letter-spacing: 5px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 5%;
  
}
.shadow-right-bottom {
	-webkit-box-shadow:16px 16px 10px -6px #d3d3d3;
	-moz-box-shadow: 16px 16px 10px -6px #d3d3d3;
	box-shadow: 16px 16px 10px -6px #d3d3d3;
}	
 
.add-clr1
{
    font-size: 24px;
    color: #2e2e2e; 
}
.add-clr
{
    font-size: 18px;
    color: #595959;
    font-weight: 200; 
}
.addr-size
{
    font-size: 18px;
    color: #2e2e2e;
    font-weight: 400; 
}
.contact-us-section
{
    padding: 6% 7%;
}
    .contact-section
    {
        background-color: #F3F3F3;
        padding: 5% 15%;
    }
    .common-allpage-header1
    
    {
        color: #2e2e2e;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 16px;
        font-size:36px;
        letter-spacing: 1px;

    }
    .contact-border
    {
        
        background-color: #e4e4e4;
        border: none;
    }
    .form-group {
        margin-bottom: 22px;
    }
    .form-control
    {
        padding: 1.375rem 0.75rem;
    }
    .contact-btn
    {
       background-color: black;
       color: #fff;
       text-transform: uppercase;
       font-size:14px;
       border-radius: 0;
       padding: 12px 20px;
    }
    .mapouter{
        position:relative;
        text-align:right;
        }

.gmap_canvas 
{
    overflow:hidden;
    background:none!important;
   
}

@media (max-width: 767px) { 
    .common-allpage-header,.common-allpage-header1
    {
      font-size: 25.61px;
    }
   .xs-padding
   {
       padding: 0px;
   }
   .xs-img
   {
       width: 80%;
   }
  }